@import url(https://fonts.bunny.net/css?family=raleway:300,400,500,600,700);
@import url(https://fonts.bunny.net/css?family=noto-sans-sc:300,400,500,700);

:root {
    --primary-color: rgb(83,163,242);
    --primary-color-lighten: rgb(230,240,254);
    --primary-color-hover: rgb(230,240,254);
    --text-color: rgb(51,51,51);
    --text-color-lighten: rgb(91, 91, 91);
    --card-color: rgba(255,255,255);
    --card-color-transparent: rgba(255,255,255,0.85);
    --background-color: rgb(240, 245, 252);

    --brand-font: 'Raleway', 'Noto Sans SC', sans-serif;
    --primary-font: 'Noto Sans SC', sans-serif;
    
    --page-width-lg: 868px;
    --page-width-xl: 1280px;
    --banner-height: 55vh;

    --index-title-font-size: 5rem;
    --title-font-size: 3rem;
    --title-font: var(--brand-font);
    --title-color: rgba(255,255,255,0.95);
    --subtitle-font-size: 1.5rem;
    --subtitle-font: var(--brand-font);
    --subtitle-color: rgba(255,255,255,0.85);

    --onload-animation-delay: 100ms;
    --onload-animation-interval: 100ms;

    --btn-hue: 260;
}

:root.dark {
    --primary-color: rgb(113,160,238);
    --primary-color-lighten: rgb(53, 62, 82);
    --primary-color-hover: rgb(12,16,22);
    --text-color: rgb(232,233,234);
    --text-color-lighten: rgb(212,213,214);
    --card-color: rgb(29, 36, 44);
    --card-color-lighten: rgb(53, 62, 82);
    --card-color-transparent: rgba(37, 43, 56,0.85);
    --background-color: rgb(12,17,24);
}

.swup-progress-bar {
    height: 5px;
    background-color: var(--primary-color);
}