---
export interface Props {
  icon: string;
}

const props = Astro.props;
---

<div
  class="flex flex-row items-center rounded-lg bg-[var(--primary-color-lighten)] p-1 dark:bg-[var(--card-color-lighten)]"
>
  <i
    class:list={props.icon}
    class="iconfont w-8 text-center text-lg text-[var(--primary-color)]"></i>
</div>
