---
export interface Props {
  icon: string;
  link: string;
}
const { icon, link } = Astro.props;
---

<a href={link} target="_blank">
  <div
    class="flex h-10 w-10 flex-col justify-center rounded-lg bg-[var(--primary-color-lighten)] transition-all hover:brightness-95 dark:bg-[var(--card-color-lighten)] dark:hover:brightness-125"
  >
    <div class="flex flex-row justify-center">
      <i
        class:list={[icon]}
        class="iconfont text-2xl text-[var(--primary-color)]"
      ></i>
    </div>
  </div>
</a>
