---
import { t } from "i18next";

import { YukinaConfig } from "../../../yukina.config";

export interface Props {
  title: string;
  published: Date;
}

// like 2005 - 01 - 06
function formatDate(date: Date) {
  return date
    .toLocaleDateString("zh-CN", {
      year: "numeric",
      month: "2-digit",
      day: "2-digit",
    })
    .replaceAll("/", " - ");
}

const { title, published } = Astro.props;
---

<div
  class="fonts relative mt-8 h-36 w-full rounded-lg bg-gray-100 px-4 py-4 dark:bg-[var(--background-color)]"
>
  <div class="absolute left-4 top-4 z-10 flex h-28 flex-col justify-between">
    <div class="flex flex-col items-start space-y-1">
      <p class="pl-1 font-bold text-[var(--text-color)]">{title}</p>
      <a
        class="rounded-md px-1 py-0.5 text-sm transition-all hover:bg-[var(--primary-color-lighten)]"
        id="post-url"
        href=""></a>
    </div>
    <div class="flex flex-row space-x-8">
      <div class="flex flex-col">
        <span class="text-sm text-[var(--text-color-lighten)]"
          >{t("components.copy_right.author")}</span
        >
        <p class="text-[var(--text-color)]">{YukinaConfig.Username}</p>
      </div>
      <div class="flex flex-col">
        <span class="text-sm text-[var(--text-color-lighten)]"
          >{t("components.copy_right.publish_date")}</span
        >
        <p class="text-[var(--text-color)]">{formatDate(published)}</p>
      </div>
      <div class="flex flex-col">
        <span class="text-sm text-[var(--text-color-lighten)]"
          >{t("components.copy_right.license")}</span
        >
        <a
          class="text-[var(--text-color)]"
          href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
          target="_blank">CC BY-NC-SA 4.0</a
        >
      </div>
    </div>
  </div>
  <div
    class="absolute right-8 top-1/2 z-0 flex h-36 -translate-y-1/2 overflow-hidden"
  >
    <i
      class="iconfont ic-creative-commons -translate-y-[66.6%] text-[230px] text-gray-300 dark:text-[var(--card-color)]"
    ></i>
  </div>
</div>

<style>
  .fonts {
    font-family: "Noto Sans SC", sans-serif;
  }

  .cc-icon {
    clip-path: inset(0 0 0 0 round 0);
    /* height: 9rem; */
  }
</style>
