---
import Search from "astro-pagefind/components/Search";
---

<div
  class="fixed left-0 top-0 z-50 hidden h-screen w-full bg-black/10"
  id="search-modal"
>
  <div class="fixed left-1/2 top-1/4 w-[42rem] -translate-x-1/2 transition-all">
    <div
      class="onload-animation rounded-xl bg-[var(--card-color-transparent)] p-2 backdrop-blur-xl"
    >
      <Search
        id="search"
        className="pagefind-ui transition-all"
        uiOptions={{ showImages: false }}
      />
    </div>
  </div>
</div>

<style is:global>
  .pagefind-ui {
    --pagefind-ui-background: var(--card-color);
    --pagefind-ui-scale: 0.75;
    --pagefind-ui-primary: var(--text-color);
    --pagefind-ui-text: var(--text-color);
    --pagefind-ui-border: transparent;
    --pagefind-ui-border-width: 0;
    --pagefind-ui-border-radius: 0.25rem;
    --pagefind-ui-font: var(--primary-font);
  }

  .pagefind-ui__search-input {
    @apply !outline-none;
  }

  .pagefind-ui__search-clear {
    @apply !text-sm text-[var(--text-color)];
  }

  .pagefind-ui__message {
    @apply !pb-3 !pl-4 !pt-0;
  }

  .pagefind-ui__drawer {
    @apply max-h-[42vh] overflow-y-auto;
  }

  .pagefind-ui__result {
    @apply mb-2 select-none rounded-xl bg-[var(--card-color)] !pb-3.5 !pl-6 !pr-4 !pt-3 transition-all;
  }

  .pagefind-ui__result-inner {
    @apply !mt-0;
  }

  .pagefind-ui__result-inner mark {
    @apply rounded-md bg-transparent text-[var(--primary-color)];
  }

  .pagefind-ui__button {
    @apply !mt-0 !font-normal;
  }

  .pagefind-ui__result-link {
    @apply text-lg !no-underline transition-all hover:!text-[var(--primary-color)];
  }

  .pagefind-ui__drawer::-webkit-scrollbar {
    width: 6px;
  }

  .pagefind-ui__drawer::-webkit-scrollbar-track {
    background: transparent;
  }

  .pagefind-ui__drawer::-webkit-scrollbar-thumb {
    @apply rounded-full !bg-black/50 transition-all;
    @apply dark:!bg-white/50;
  }

  .pagefind-ui__drawer::-webkit-scrollbar-thumb:hover {
    @apply !bg-black/70;
    @apply dark:!bg-white/70;
  }

  .pagefind-ui__drawer::-webkit-scrollbar-thumb:active {
    @apply !bg-black/90;
    @apply dark:!bg-white/90;
  }
</style>
