---
import i18next from "i18next";
// @ts-ignore
import { localizePath } from "astro-i18next";
import ISO6991 from "iso-639-1";

interface languageMapping {
  [localeCode: string]: string;
}

export interface Props extends astroHTML.JSX.SelectHTMLAttributes {
  languageMapping?: languageMapping;
}

const supportedLanguages = i18next.languages;
// const currentLanguage = i18next.language;

const { pathname } = Astro.url;

const { languageMapping } = Astro.props;
---

<div class="language-selector ml-1">
  <button type="button" class="btn">
    <i class="iconfont ic-language icon"></i>
  </button>
  <div class="dropdown-wrapper">
    <ul id="language-selector-dropdown" class="dropdown">
      {
        supportedLanguages.map((supportedLanguage: string, index: number) => {
          let value = localizePath(pathname, supportedLanguage);

          let nativeName = "";
          if (
            languageMapping &&
            languageMapping.hasOwnProperty(supportedLanguage)
          ) {
            nativeName = languageMapping[supportedLanguage];
          } else {
            nativeName = ISO6991.getNativeName(supportedLanguage);
          }

          return (
            (index && (
              <li class="selection language-selection" data-target={value}>
                <span class="align-top leading-[0] -translate-y-[1px]">
                  {nativeName}
                </span>
              </li>
            )) || (
              <li class="selection-selected" data-target={value}>
                <span class="align-top leading-[0] -translate-y-[1px]">
                  {nativeName}
                </span>
              </li>
            )
          );
        })
      }
    </ul>
  </div>
</div>

<style>
  .language-selector {
    @apply relative;
  }

  .btn {
    @apply py-2 px-3 rounded-lg transition-all text-[var(--text-color)];
    @apply hover:bg-[var(--primary-color-hover)] hover:text-[var(--primary-color)];
  }

  .icon {
    @apply text-xl stroke-2;
  }

  .language-selector:hover .dropdown-wrapper,
  .dropdown-wrapper:hover .dropdown-wrapper {
    @apply block;
  }

  .dropdown-wrapper {
    @apply hidden absolute top-0 w-11 h-12 translate-y-11;
  }

  .dropdown {
    @apply absolute -left-1/2 -bottom-24 flex flex-col p-1 rounded-lg space-y-1 bg-[var(--card-color-transparent)] w-32;
    opacity: 0;
    animation: 300ms fade-in-down;
    animation-fill-mode: forwards;
  }

  .selection {
    @apply select-none flex flex-row items-center rounded-md pl-2 pr-4 text-[var(--text-color)] hover:bg-[var(--primary-color-hover)] hover:text-[var(--primary-color)] transition-all;
    font-family: var(--primary-font);
  }

  .selection-selected {
    @apply select-none flex flex-row items-center rounded-md p-2 pr-4 bg-[var(--primary-color-hover)] text-[var(--primary-color)] transition-all;
    font-family: var(--primary-font);
  }

  .selection::before {
    @apply w-1 h-1 mr-2 rounded-md bg-[var(--primary-color)] transition-all;
    @apply hover:mr-3 hover:h-4;
    content: "";
  }

  .selection::after {
    @apply h-10;
    content: "";
  }

  .selection-selected::before {
    @apply w-1 h-4 mr-3 rounded-md bg-[var(--primary-color)];
    content: "";
  }

  .selection-selected::after {
    @apply h-6;
    content: "";
  }

  @keyframes fade-in-down {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }

    100% {
      transform: translateY(0.5rem);
      opacity: 1;
    }
  }
</style>
