---
import Main from "../layouts/MainLayout.astro";
import Markdown from "../components/Markdown.astro";
import SideBar from "../components/SideBar.astro";
import Copyright from "../components/Copyright.astro";

interface Props {
  title?: string;
  subTitle?: string;
  headerImg?: string;
}

const { title, subTitle, headerImg } = Astro.props;
---

<Main title={title} subTitle={subTitle} headerImg={headerImg}>
  <!-- <Fragment set:html={tocHTMLString} /> -->
  <div class="flex flex-row xl:space-x-4 items-start">
    <div class="side-bar">
      <SideBar />
    </div>
    <div class="article onload-animation">
      <Markdown>
        <slot />
      </Markdown>
      <Copyright title="关于" published={new Date("2024/11/23")} />
    </div>
  </div>
</Main>

<style>
  .side-bar {
    @apply hidden min-w-[248px] xl:block;
  }

  .article {
    @apply bg-[var(--card-color)] p-10 rounded-2xl shrink flex flex-col min-w-full max-w-full xl:min-w-[80%] xl:max-w-[80%];
  }
</style>
