---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <BaseHead />
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    @apply bg-[var(--background-color)];
  }
</style>
