---
import YukinaConfig from "../../yukina.config";
import BaseHead from "../components/BaseHead.astro";
---

<html lang={YukinaConfig.locale}>
  <BaseHead />
  <head>
	      <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet" />
  </head>
  <body class="font-mono text-foreground bg-background">
    <slot />
  </body>
</html>

<style>
  body {
    @apply bg-[var(--background-color)];
  }
</style>
